@import "tailwindcss";

:root {
  font-family: "Poppins", system-ui, sans-serif;
  color: #3b302a;
  background-color: #f8f5f2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f5f2;
}

a {
  text-decoration: none;
  color: inherit;
}